doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/about/about.css")
        link(rel="stylesheet", href="css/about/footer.css")
        //- link(rel="stylesheet", href= "css/app/app.css")
    body 
        section 
            nav 
                .logo Code by Asif
                ul 
                    li 
                        a(href="index.html") Work
                    li 
                        a(href="about.html") About 
                    li 
                        a(href="Contact.html") Contact
            
            .hero 
                .hero-heading 
                    h2 Desingning 
                        span innovative 
                        | website that stand out form the 
                        span croud
            
            //- .line_glob
            .line
                .glob  
                    img(src="img/gloab.svg", alt="")

            main 
                .text 
                    p I specialize in designing custom, responsive website that are tailored to meet the unique needs of each clients
                .img 
                    img(src="img/asif-full.png", alt="")
            .devlopment
                .devlopment_process 
                    .process-heading
                        h3 I can help you with
                    .process-steps 
                        .design-process 
                            .num
                                p 1
                            .line.line1
                            h4 Design
                            p I specialize in designing custom responsive website that are tailored to meet the unique needs of eact client
                        .design-process 
                            .num 
                                p 2
                            .line.line1
                            h4 Devlopment
                            p I specialize in designing custom responsive website that are tailored to meet the unique needs of eact client
                        .design-process 
                            .num
                                p 3
                            .line.line1
                            h4 The full package 
                            p I specialize in designing custom responsive website that are tailored to meet the unique needs of eact client
        footer 
            .footer-main
                .footer-heading 
                    h2 
                        img(src="img/asif-small.png", alt="")
                        | Lets Work <br/> Togeter
                .line 
                    .glob 
                        a(href="mailto:asifsuhailkhan1@gmail.com") Get in Toch 
                .buttons
                    button.email 
                        a(href="mailto:asifsuhailkhan1@gmail.com") asifsuhailkhan1@gmail.com 
                    button.num 
                        a(href="tel:+4733378901") + 988 99 18 105 

            .footer-nav
                .list-type 
                    .web-version Version
                    .socials Socials
                .list-name 
                    .version 2023 @ edition
                    ul 
                        li 
                            a(href="https://www.behance.net/asifsuhailkhan") Behance
                        li 
                            a(href="https://www.instagram.com/asif_suhail_01/") Instagram
                        li 
                            a(href="https://dribbble.com/AsifSuhailKhan") Dribble
                        li 
                            a(href="https://www.linkedin.com/in/asif-suhail-khan-7ab558249/") Linkedin


