doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/variable.css")
        link(rel="stylesheet", href = "css/about/about.css")
        link(rel="stylesheet", href="css/contact/contact.css")
    body 
        section 
            nav 
                .logo Code by Asif
                ul 
                    li
                        a(href="index.html") Work
                    li
                        a(href="about.html") About
                    li
                        a(href="contact.html") Contact

            main    
                .heading 
                    h2 Let's Start a <br/> Project together
                .img 
                    img(src="img/asif-small.png", alt="")

            .form-section 
                .form-left
                    .form-fill 
                        .form-no 01
                        .form-data 
                            .from-que What's Your Name?
                            .form-answer Asif Khan
                                sup * 
                    .form-fill 
                        .form-no 02
                        .form-data 
                            .from-que What's Your Email?
                            .form-answer asif@khan.com
                    .form-fill 
                        .form-no 03
                        .form-data 
                            .from-que What's Name of Your organization?
                            .form-answer Asif Khan
                                sup ®
                    .form-fill 
                        .form-no 04
                        .form-data 
                            .from-que What servies are you looking for?
                            .form-answer Web design & Web devlopment
                    .form-fill 
                        .form-no 05
                        .form-data 
                            .from-que Your message
                            .form-answer Hello Asif can you help me with..

                .social-links
                    .contact-detail 
                        p CONTACT DETAIL 
                        .contact asifsuhailkhan1@gmail.com
                        .contact + 988 99 18 105

                    .social-details
                        p SOCIALS
                        ul 
                            li Instagram
                            li Dribble
                            li Linkedin 
                            li Behance

            footer 
                .line 
                    .glob 
                        a(href="mailto:asifsuhailkhan1@gmail.com") Get in Toch 
                
                .footer-nav
                    .list-type 
                        .web-version Version
                        .socials Socials
                    .list-name 
                        .version 2023 @ edition
                        ul 
                            li 
                                a(href="https://www.behance.net/asifsuhailkhan") Behance
                            li 
                                a(href="https://www.instagram.com/asif_suhail_01/") Instagram
                            li 
                                a(href="https://dribbble.com/AsifSuhailKhan") Dribble
                            li 
                                a(href="https://www.linkedin.com/in/asif-suhail-khan-7ab558249/") Linkedin

