

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="css/about/footer.css")
        link(rel="stylesheet", href="css/about/about.css")
        link(rel="stylesheet", href="css/variable.css")
        link(rel='stylesheet', href='css/project/ai_database.css')
        link(rel="stylesheet", href="css/project/next_project.css")
        script(src="app.js") 

    body 
    
        //- 
         section__nav startd---

        section.section__nav 
            nav 
                .logo Code by Asif
                ul 
                    li 
                        a(href="index.html") Work
                    li 
                        a(href="about.html") About 
                    li 
                        a(href="Contact.html") Contact
                    |
        //- section__nav end



 
        //- 
         main started ---
        |
        main 
            .main__heading 
                h1 Gold and Luxury
            .main__details 
                .main__detail.main__details-role
                    p Role
                    .main--line
                    h4 Design & Devlopment
                .main__detail.main__details-client
                    p Company
                    .main--line
                    h4 B&R Ltd.
                .main__detail.main__details-Location
                    p Location
                    .main--line
                    h4 India
        |
        //- main end 




        //- 
         dashboard start ---
        
        section.section__dashboard 
            .dashboard 
                .dashboard__img 
                    img(src="project-img/next_image/first.png", alt="")
        
        //-  dashboard end 




        //-
         section__process start ---
        |
        section.section__process 
            .question The Challange
            .answer My design process involves understanding your business goals and target audience, researching the latest design trends
        |
        //- process end 




        //- 
         section__banner--img start ---
        |
        section.section__banner--img
            .banner--img 
                img(src="project-img/next_image/banner-img.jpg", alt="")
        |
        //-  banner end 

 




        //-
         section__the_process start ---
        |
        section.section__process 
            .question The Process
            .answer My design process involves understanding your business goals and target audience, researching the latest design trends
        |
        //- process end 


        


        //- 
            imgaes show start 
        |
        section.section_images
            .image_first.image
                img(src="project-img/next_image/first.jpg", alt="")
            .image_second.image
                img(src="project-img/next_image/third.jpg", alt="")
            .image_third.image
                img(src="project-img/next_image/second.jpg", alt="")
        |
        //- 
            imgaes show end 






        //- 
         footer start

        footer 
            .footer-main
                .footer-heading 
                    h2 
                        img(src="img/asif-small.png", alt="")
                        | Lets Work <br/> Togeter
                .line 
                    .glob 
                        a(href="mailto:asifsuhailkhan1@gmail.com") Get in Toch 
                .buttons
                    button.email 
                        a(href="mailto:asifsuhailkhan1@gmail.com") asifsuhailkhan1@gmail.com 
                    button.num 
                        a(href="tel:+4733378901") + 988 99 18 105 

            .footer-nav
                .list-type 
                    .web-version Version
                    .socials Socials
                .list-name 
                    .version 2023 @ edition
                    ul 
                        li 
                            a(href="https://www.behance.net/asifsuhailkhan") Behance
                        li 
                            a(href="https://www.instagram.com/asif_suhail_01/") Instagram
                        li 
                            a(href="https://dribbble.com/AsifSuhailKhan") Dribble
                        li 
                            a(href="https://www.linkedin.com/in/asif-suhail-khan-7ab558249/") Linkedin
        //- footer end

