
:root{
    --white-1:#fff;
    --white-2: #DEDEDE;

    --span-color: blue;
    --color-h4: rgba(37, 38, 42, 1);
    --color-p: #adadad;

    --dashboard-border-color: black;

    --container-border-color: rgb(50, 50, 50);
    --container-bg-color:rgb(254, 255, 237);
    --container-bigger-font:#323232;

    --primary-font:'neue haas grotesk display pro';
    --secondary-font:'polysans slim';

    --bold-weight:bold;

    --bg-color-1: #fff;
    --bg-color-8: #414141;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  /* border: 1px solid black; */
}


body::-webkit-scrollbar{
  display : none;
}
body {
  /* font-family: "polysans slim"; */
  font-family: var(--project-ff);
}





/* 
  main startd ---- */

main {
  max-width: 80%;
  margin: 8rem auto 10rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

 
.main__details{
  display: flex;
  justify-content: space-around;
}

.main__detail{
 min-width: 20%;
 gap: 2rem;
 display: flex;
 flex-direction: column;
}


.main__heading h1 {
  font-size: 13rem;
  text-align: center;
}

.main__details p {
  font-size: 1.6rem;
  color: var(--color-p);
}

.main__details h4 {
  font-size: 2rem;
  color: var(--color-h4);
  font-weight: lighter;
}

.main__details .main--line{
  /* width: 80%; */
  height: .15rem;
  background-color: var(--color-p);
  background-color: rgb(202, 202, 202);
}

/* main end ---- */





/* 
dashboard start ---- */

.dashboard{
  max-width: 80%;
  margin: 0 auto;
  /* height: 74.3rem; */
  display: grid;
  background: rgba(239, 244, 253, 1);
  place-content: center;
}

.dashboard__img img{
  width: 100%;
  height: 100%;
}




/* 
section__process start */

.section__process{
  max-width: 70%;
  margin: 20rem auto;
  display: flex;
  font-size: 2.4rem;
  justify-content: space-between;
  font-family: var(--secondary-font);
}  


.question{
  font-weight: bold;
}


.answer{
  max-width: 60%;
  color: #3a3a3a;
}  





/* 
banner--img start ---- */
  
.banner--img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* 
box dahsboard start */

.box__dashboard--box{
  max-width: 70%;
  margin: 10rem auto 20rem;
  border: 10px solid var(--dashboard-border-color);
  border-radius: 16px;
}

.box__dashboard--details{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 8.5rem 2.5rem 0 ;
}

.box__heading{
  font-family: 'founders grotesk';
  font-size: 7.2rem;
  /* font-size: var(--footer-font); */
  font-weight: bold;
  text-align: center;
  
}

.box__heading span {
  color: var(--span-color);
  display: block;
  text-align: center;
  font-size: 4.2rem;
}

.box__button{
  border-radius: 1rem;
  width: max-content;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  font-size: 2rem;
}

.box__hidden--details{
  display: flex;
  font-size: 1.8rem;
  color: rgb(77, 77, 77);
  font-weight: 400;
}

.trail{
  padding-right: 2rem;
}

.credit_card{
  border-left: 2px solid black;
  padding-left: 2rem;
}

.box__dashboard--img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 
  section container startd ---- */

.section__container {
  width: 100%;
}

.container {
  /* height: 150vh; */
  background-color: var(--container-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 70%;
  margin: 20rem auto;
  border: 10px solid var(--container-border-color);
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: relative;
  border-radius: 16px;
}

.box-image img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0 0 0.95rem 0.95rem;
  object-position: center-top;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box_heading {
  /* height: 40%; */
  margin: 6rem 0 8rem;
}
.box-image {
  height: 60%;
  width: fit-content;
}

.box_heading h2 {
  font-size: var(--footer-font);
  /* font-size: 9.7rem; */
  text-align: center;
  margin-bottom: 2rem;
  color: var(--container-bigger-font);
}

.box_heading  h3 {
   font-family: 'founders grotesk';
  font-size: 4.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--container-bigger-font);
}

.box_heading span{
  padding-right: .7rem;
}
/* section container end */




/* 
    footer startd 
*/

.footer-main{
  margin: 0 auto;
  padding: 0 0 14.4rem 0;
}